.btn-primary {
  background: #f9fbfd;
  color: #350dff;
  font-weight: 600;
  box-shadow: none !important;
}

.datatable-header-cell {
  display: flex !important;
  align-items: center !important;
}
.reset {
  margin-top: auto;
}
.action {
  margin: auto;
}
div.avatar.avatar-md {
  margin: auto !important;
}

.active {
  color: black;
}

.activeAdmin {
  color: #00c9b7;
}

.disactiveAdmin {
  color: #ff3648;
}

.center {
  justify-content: center;
}
